/*トップページ（ログイン前）*/
.sidebar-nav{
  background-color:#27B1BE#FACC2E#ECECEC;
  height:530px;
}
.toppage_field{
}
.toppage_field img{
  position:relative;
}
.btn-login{
  position:absolute;
  top:400px;
  left:535px;
}
.btn-signup{
  position:absolute;
  top:450px;
  left:495px;
  color:orange;
}

/*トップページ（ログイン後）*/
.table th{
  background-color:#DDDDDD;
}
.table img{
  border-radius:50%;
  margin-right:15px;
}

/*トークルーム*/
.talk-room{
  height:500px;
}