<% if logged_in? %>
  <div class="col-md-2">
    <div class="sidebar-nav affix">
      <ul class="nav panel panel-default">
        <li><%= link_to root_url do %><i class="fa fa-user-o fa-4x"></i>友だち<% end %></li>
        <li><%= link_to talk_list_user_path(current_user) do %><i class="fa fa-commenting-o fa-4x"></i>トーク<% end %></li>
        <li><%= link_to logout_path, method: :delete do %><i class="fa fa-sign-out fa-4x"></i>ログアウト<% end %></li>
      </ul>
    </div>
  </div>
<% end %>
 <!--role="complementary"-->
 <!-- affix-->