<!--<% if logged_in? %>-->
<!--ここはログイン後のトップページです-->
<!--<div class="col-md-2">-->
<!--  <div class="sidebar-nav affix" role="complementary">-->
<!--    <ul class="nav">-->
<!--      <li>プロフィール</li>-->
<!--      <li><%= link_to current_user.name,current_user %></li>-->
<!--      <li>友達一覧</li>-->
<!--      <% @users.each do |user| %>-->
<!--        <li><%= link_to user.name,user %></li>-->
<!--      <% end %>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="col-md-6">-->
<!--</div>-->

<!--<% end %>-->